<div class="page-layout">
  <div class="regions-container">
    <mat-card class="region-card"
              *ngFor="let region of regions"
              [id]="region"
              [ngClass]="{ 'highlighted': region === highlightedRegion }">
      <div class="region-title">{{region}}</div>
    </mat-card>
  </div>
  <div class="cards-container">
    <mat-card id="countries-list" style="width: 150px ; height: 110px; color: white"
              *ngFor="let country of countries"
              (mouseover)="onCountryHover(country.region)">
      <mat-card-content>
        <div>
          <img style="width: 50px" [src]="country.flag" [alt]="country.name">
        </div>
        <div>
          <h5>
            {{country.name}}
          </h5>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
